<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/cirugia.css">
</head>

<body>
    <header>
        <div class="contenedor-logo">
            <img src="../static/assets/logo.avif" alt="" class="zoomable">
        </div>
        <a href="../view/inicio.ejs" class="zoomable">Inicio</a>
        <a href="../view/pedir_cita.ejs" class="zoomable">Pedir Cita</a>
        <a href="../view/contacto.ejs" class="zoomable">Contacto</a>
        <div class="dropdown">
            <button class="zoomable">Consulta</button>
            <div class="dropdown-options">
                <a href="../view/vacunaciones.ejs">Vacunaciones</a>
                <a href="../view/marcaje_electrico.ejs">Marcaje electrónico</a>
                <a href="../view/desparasitaciones.ejs">Desparasitaciones</a>
                <a href="../view/cirugia.ejs">Cirugías</a>
            </div>
        </div>
    </header>
    <div class="contenedor">
        <h2>CIRUGIAS</h2>
        <h3>En la Clínica Veterinaria Peña podemos realizar la cirugía que necesita tu mascota.</h3>
        <div class="contenedor_padre">
            <div class="texto">
                <p>Nuestra cirugía abarca tanto la de carácter general, como son las esterilizaciones, extirpación de
                    cuerpos extraños en el aparato digestivo, extirpación de tumores, hernias umbilicales, inguinales y
                    perianales. Y cirugía de Alta Especialización como traumatología y cesáreas.
                </p>
                <p>Nuestro quirófano se encuentra equipado con los más modernos sistemas de monitorización del paciente
                    durante la cirugía y un avanzado equipo de anestesia, que nos garantiza el control del animal
                    mientras está siendo intervenido.</p>
            </div>
            <div class="contenedor_img">
                <img src="../static/assets/cirugia.jpg" alt="" class="zoomable">
            </div>
        </div>
    </div>
    <footer>
        <div class="footer_padre">
            <div class="footer">
                <p>veterinariapena@gmail.com</p>
                <div class="footer-img zoomable">
                    <img src="../static/assets/correo.jpeg" alt="">
                </div>
            </div>
            <div class="footer">
                <p>683 854 685</p>
                <div class="footer-img zoomable">
                    <img src="../static/assets/logo-telefono.png" alt="">
                </div>
            </div>
            <div class="footer">
                <a class="zoomable" href="./politica_privacidad.ejs">Política de privacidad</a>
            </div>
            <div class="footer">
                <p>Síguenos en:</p>
                <div class="footer-img zoomable">
                    <img src="../static/assets/facebook.webp" alt="Facebook">
                </div>
                <div class="footer-img zoomable">
                    <img src="../static/assets/twitter.jpeg" alt="Twitter">
                </div>
                <div class="footer-img zoomable">
                    <img src="../static/assets/logo-insta.webp" alt="Instagram">
                </div>
            </div>
            <div class="footer">
                <a class="zoomable" href="./contacto.ejs">Contactanos</a>
            </div>
        </div>
    </footer>
</body>

</html>