<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/desparasitaciones_gatos_perros.css">
    <script src="../static/js/inicio.js"></script>
</head>
<body>
    <header>
        <div class="contenedor-logo">
            <img src="../static/assets/logo.avif" alt="" class="zoomable">
        </div>
        <a  href="../view/inicio.ejs" class="zoomable">Inicio</a>
        <a href="../view/pedir_cita.ejs" class="zoomable">Pedir Cita</a>
        <a href="../view/contacto.ejs" class="zoomable">Contacto</a>
        <div class="dropdown">
            <button class="zoomable">Consulta</button>
            <div class="dropdown-options">
              <a href="../view/vacunaciones.ejs">Vacunaciones</a>
              <a href="../view/marcaje_electrico.ejs">Marcaje electrónico</a>
              <a href="../view/desparasitaciones.ejs">Desparasitaciones</a>
              <a href="../view/cirugia.ejs">Cirugías</a>
            </div>
          </div>
</header>
    <div class="contenedor">
        <h2>DESPARASITACIÓN DE PERROS Y GATOS</h2>
        <div class="container_img">
            <div class="img">
                <img src="../static/assets/logo-gato-vacunaciones.jpeg" alt="" class="zoomable">
            </div>
            <div class="img">
                <img src="../static/assets/logo-perro-vacunaciones.jpeg" alt="" class="zoomable">
            </div>
        </div>
        <div>
            <div class="accordion-container">
                <button class="accordion">Desparasitación interna: </button>
            </div>
            <div class="panel horario">
                <p>La desparasitación es una parte fundamental de la medicina preventiva, ésta se debe iniciar desde que la madre queda gestante, ya que la transmisión de parásitos puede ocurrir a través de la placenta y durante la lactancia. Posteriormente se desparasita a los cachorros, así como a la madre, una vez que se destetan. Para esto es importante hacer de su conocimiento, que los desparasitantes sirven en su mayoría para atacar los parásitos adultos, por lo que una sola desparasitación no es suficiente, la desparasitación se recomienda llevarla a cabo dos y hasta tres veces, separando las aplicaciones entre 8 y 12 días.

                    Antes de comenzar un calendario de vacunación en cachorros, deberán aplicarse por lo menos dos desparasitaciones, la razón es que si un cachorro presenta parásitos, no se podrá nutrir de buena forma y sus defensas son disminuidas, por lo que la respuesta a la vacuna será mala o nula en algunos casos.
                    
                    Una vez concluido el calendario de vacunas, hay que desparasitar cada 3 meses.</p>
            </div>
            <div class="accordion-container">
                <button class="accordion">Desparasitación externa: </button>
            </div>
            <div class="panel horario">
                <p>Pueden variar dependiendo del producto, las aplicaciones o la zona geográfica. La vigilancia, en cuanto a los parásitos externos, debe extremarse en aquellos animales que viven al aire libre.</p>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer_padre">
            <div class="footer">
                <p>veterinariapena@gmail.com</p>
                <div class="footer-img zoomable">
                    <img src="../static/assets/correo.jpeg" alt="">
                </div>
            </div>
            <div class="footer">
                <p>683 854 685</p>
                <div class="footer-img zoomable">
                    <img src="../static/assets/logo-telefono.png" alt="">
                </div>
            </div>
            <div class="footer">
                <a class="zoomable" href="./politica_privacidad.ejs">Política de privacidad</a>
            </div>
            <div class="footer">
                <p>Síguenos en:</p>
                    <div class="footer-img zoomable">
                        <img src="../static/assets/facebook.webp" alt="Facebook">
                    </div>
                    <div class="footer-img zoomable">
                        <img src="../static/assets/twitter.jpeg" alt="Twitter">
                    </div>
                    <div class="footer-img zoomable">
                        <img src="../static/assets/logo-insta.webp" alt="Instagram">
                    </div>
            </div>
            <div class="footer">
                <a class="zoomable" href="./contacto.ejs">Contactanos</a>
            </div>
        </div>
    </footer>
</body>
</html>