<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/marcaje.css">
</head>
<body>
    <header>
        <div class="contenedor-logo">
            <img src="../static/assets/logo.avif" alt="" class="zoomable">
        </div>
        <a  href="../view/inicio.ejs" class="zoomable">Inicio</a>
        <a href="../view/pedir_cita.ejs" class="zoomable">Pedir Cita</a>
        <a href="../view/contacto.ejs" class="zoomable">Contacto</a>
        <div class="dropdown">
            <button class="zoomable">Consulta</button>
            <div class="dropdown-options">
              <a href="../view/vacunaciones.ejs">Vacunaciones</a>
              <a href="../view/marcaje_electrico.ejs">Marcaje electrónico</a>
              <a href="../view/desparasitaciones.ejs">Desparasitaciones</a>
              <a href="../view/cirugia.ejs">Cirugías</a>
            </div>
          </div>
</header>
    <div class="contenedor">
        <h2>MARCAJE ELECTRÓNICO</h2>
        <h3>La implantación mediante microchip es la herramienta más eficaz para poder controlar a su mascota.</h3>
        <div>
            <p>
                En caso de desaparición, sería identificada de inmediato, ya que la información relativa a la mascota, 
                queda registrada en la base de datos del censo canino que tiene cada Comunidad Autónoma, 
                en la que se almacena la información relativa la nombre, dirección y teléfono del dueño y todos los datos del animal.
            </p>
            <div class="img">
                <img src="../static/assets/exclamacion.png" alt=""  class="zoomable">
            </div>
            <h3>EL MICROCHIP ES OBLIGATORIO POR LEY</h3>
        </div>
    </div>
    <footer>
        <div class="footer_padre">
            <div class="footer">
                <p>veterinariapena@gmail.com</p>
                <div class="footer-img zoomable">
                    <img src="../static/assets/correo.jpeg" alt="">
                </div>
            </div>
            <div class="footer">
                <p>683 854 685</p>
                <div class="footer-img zoomable">
                    <img src="../static/assets/logo-telefono.png" alt="">
                </div>
            </div>
            <div class="footer">
                <a class="zoomable" href="./politica_privacidad.ejs">Política de privacidad</a>
            </div>
            <div class="footer">
                <p>Síguenos en:</p>
                    <div class="footer-img zoomable">
                        <img src="../static/assets/facebook.webp" alt="Facebook">
                    </div>
                    <div class="footer-img zoomable">
                        <img src="../static/assets/twitter.jpeg" alt="Twitter">
                    </div>
                    <div class="footer-img zoomable">
                        <img src="../static/assets/logo-insta.webp" alt="Instagram">
                    </div>
            </div>
            <div class="footer">
                <a class="zoomable" href="./contacto.ejs">Contactanos</a>
            </div>
        </div>
    </footer>
</body>
</html>