<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/vacunaciones-gatos.css">
    <script src="../static/js/inicio.js"></script>
</head>
<body>
    <header>
        <div class="contenedor-logo">
            <img src="../static/assets/logo.avif" alt="" class="zoomable">
        </div>
        <a  href="../view/inicio.ejs" class="zoomable">Inicio</a>
        <a href="../view/pedir_cita.ejs" class="zoomable">Pedir Cita</a>
        <a href="../view/contacto.ejs" class="zoomable">Contacto</a>
        <div class="dropdown">
            <button class="zoomable">Consulta</button>
            <div class="dropdown-options">
              <a href="../view/vacunaciones.ejs">Vacunaciones</a>
              <a href="../view/marcaje_electrico.ejs">Marcaje electrónico</a>
              <a href="../view/desparasitaciones.ejs">Desparasitaciones</a>
              <a href="../view/cirugia.ejs">Cirugías</a>
            </div>
          </div>
</header>
    <div class="contenedor">
        <h2>CALENDARIO DE VACUNACIÓN FELINO</h2>
        <div class="imagen-logo-gato">
            <img src="../static/assets/logo-gato-vacunaciones.jpeg" alt=""  class="zoomable">
        </div>
        <h3>Protocolo de vacunación recomendado en Clinica Veterinaria Peña:</h3>
        <div class="contenedor-filas">
            <div class="fila">
                <div>
                    <h2>8 SEMANAS</h2>
                    <p>Pentavalente</p>
                    <p>(Panleucopenia, rinotraqueitis, calicivirus, clamidias y leucemia)</p>
                </div>
                <div>
                    <h2>11 SEMANAS</h2>
                    <p>Pentavalente</p>
                    <p>( hepatitis, leptospira canicola, leptospira, icterohaemorrhgiae, moquillo, parvovirus , parainfluenza y adenovirus )</p>
                </div>
                <div>
                    <h2>14 SEMANAS</h2>
                    <p>PIF</p>
                    <p>( Peritonitis infecciosa felina )</p>
                </div>
            </div>
            <div class="fila">
                <div>
                    <h2>20-24 SEMANAS</h2>
                    <p>Rabia + Microchip (Obligatorio)</p>
                </div>
                <div>
                    <h2>VACUNACIÓN ANUAL</h2>
                    <p>Rabia + Pentavalente + PIF</p>
                </div>
            </div>
        </div>
        <div>
            <div class="accordion-container">
                <button class="accordion">Panleucopenia felina: </button>
            </div>
            <div class="panel horario">
                <p>Es una enfermedad muy contagiosa, causada por un virus que afecta sobre todo a gatos de menos de un año.</p>
            </div>
        </div>
        <div>
            <div class="accordion-container">
                <button class="accordion">Rinotraqueitis: </button>
            </div>
            <div class="panel horario">
                <p>También llamada gripe felina, es una enfermedad respiratoria de las vías superiores. Es una enfermedad muy frecuente en gatos y si no se cura bien puede ser que se convierta en crónica.</p>
            </div>
        </div>
        <div>
            <div class="accordion-container">
                <button class="accordion">Calicivirus: </button>
            </div>
            <div class="panel horario">
                <p>Junto con el virus de la rinotraqueitis son dos serios y contagisos virus respiratorios.</p>
            </div>
        </div>
        <div>
            <div class="accordion-container">
                <button class="accordion">Clamidias: </button>
            </div>
            <div class="panel horario">
                <p>Es una enfermedad que afecta a los ojitos. Es muy común en hogares habitados por varios gatos. El lagrimeo persistente de los ojos es un síntoma habitual.</p>
            </div>
        </div>
        <div>
            <div class="accordion-container">
                <button class="accordion">Leucemia: </button>
            </div>
            <div class="panel horario">
                <p>Es un retrovirus que infecta a los gatos y si no es derrotado por su sistema inmune, el virus puede llegar a ser mortal. Este virus causa un tipo de cáncer de las células sanguíneas, los linfocitos, es decir una leucemia.</p>
            </div>
        </div>
        <div>
            <div class="accordion-container">
                <button class="accordion">Rabia: </button>
            </div>
            <div class="panel horario">
                <p>Es una zoonosis que puede transmitirse al hombre por mordedura de perros y gatos infectados.

                    La rabia en los gatos se puede contagiar de varias maneras:
                        
                    Por rasguños de gatos infectados: como el virus se aloja en la saliva y los gatos tienden a limpiarse lamiéndose las patas, el agente infeccioso se podría alojar en las garras por un tiempo breve y podría ser conducido por un arañazo.
                    A través de las peleas donde se vehicula la rabia.
                    Mediante la ingestión de animales infectados ( ratas, murciélagos, etc.)</p>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer_padre">
            <div class="footer">
                <p>veterinariapena@gmail.com</p>
                <div class="footer-img zoomable">
                    <img src="../static/assets/correo.jpeg" alt="">
                </div>
            </div>
            <div class="footer">
                <p>683 854 685</p>
                <div class="footer-img zoomable">
                    <img src="../static/assets/logo-telefono.png" alt="">
                </div>
            </div>
            <div class="footer">
                <a class="zoomable" href="./politica_privacidad.ejs">Política de privacidad</a>
            </div>
            <div class="footer">
                <p>Síguenos en:</p>
                    <div class="footer-img zoomable">
                        <img src="../static/assets/facebook.webp" alt="Facebook">
                    </div>
                    <div class="footer-img zoomable">
                        <img src="../static/assets/twitter.jpeg" alt="Twitter">
                    </div>
                    <div class="footer-img zoomable">
                        <img src="../static/assets/logo-insta.webp" alt="Instagram">
                    </div>
            </div>
            <div class="footer">
                <a class="zoomable" href="./contacto.ejs">Contactanos</a>
            </div>
        </div>
    </footer>
</body>
</html>
