<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/vacunaciones-perros.css">
    <script src="../static/js/inicio.js"></script>
</head>
<body>
    <header>
        <div class="contenedor-logo">
            <img src="../static/assets/logo.avif" alt="" class="zoomable">
        </div>
        <a  href="../view/inicio.ejs" class="zoomable">Inicio</a>
        <a href="../view/pedir_cita.ejs" class="zoomable">Pedir Cita</a>
        <a href="../view/contacto.ejs" class="zoomable">Contacto</a>
        <div class="dropdown">
            <button class="zoomable">Consulta</button>
            <div class="dropdown-options">
              <a href="../view/vacunaciones.ejs">Vacunaciones</a>
              <a href="../view/marcaje_electrico.ejs">Marcaje electrónico</a>
              <a href="../view/desparasitaciones.ejs">Desparasitaciones</a>
              <a href="../view/cirugia.ejs">Cirugías</a>
            </div>
          </div>
</header>
    <div class="contenedor">
        <h2>CALENDARIO DE VACUNACIÓN CANINA</h2>
        <div class="imagen-logo-perro">
            <img src="../static/assets/logo-perro-vacunaciones.jpeg" alt=""  class="zoomable">
        </div>
        <h3>Protocolo de vacunación recomendado en Clinica Veterinaria Peña:</h3>
        <div class="contenedor-filas">
            <div class="fila">
                <div>
                    <h2>6-8 SEMANAS</h2>
                    <p>Puppy (Moquillo y parvovirus)</p>
                </div>
                <div>
                    <h2>8-10 SEMANAS</h2>
                    <p>Heptavalente (hepatitis, leptospira canicola, leptospira, icterohaemorrhgiae, moquillo, parvovirus, parainfluenza y adenovirus)</p>
                </div>
                <div>
                    <h2>12-14 SEMANAS</h2>
                    <p>Heptavalente</p>
                </div>
            </div>
            <div class="fila">
                <div>
                    <h2>16-18 SEMANAS</h2>
                    <p>Tos de las perreras / Leishmaniosis (el primer año 3 dosis, distanciadas entre ellas tres semanas)</p>
                </div>
                <div>
                    <h2>20-24 SEMANAS</h2>
                    <p>Rabia + Microchip (Obligatorio)</p>
                </div>
                <div>
                    <h2>VACUNACIÓN ANUAL</h2>
                    <p>Rabia (obligatoria) + Heptavalente + Leishmania + tos de las perreras.</p>
                </div>
            </div>
        </div>
        <div>
            <div class="accordion-container">
                <button class="accordion">Moquillo: </button>
            </div>
            <div class="panel horario">
                <p>Es una enfermedad muy contagiosa. Puede manifestarse de diferentes formas, suele empezar con fiebre alta acompañada de lagrimeo, mucosidad, tos, en la forma leve y en la forma más agresiva, vómitos, diarreas, espasmos musculares que desembocan en la parálisis de las extremidades.</p>
            </div>
        </div>
        <div>
            <div class="accordion-container">
                <button class="accordion">Parvovirus: </button>
            </div>
            <div class="panel horario">
                <p>Los síntomas están presididos por vómitos y diarreas intensas y sanguinolentas. Es frecuente un cuadro grave con fiebre, rechazo de la comida y debilidad, provocando deshidratación.</p>
            </div>
        </div>
        <div>
            <div class="accordion-container">
                <button class="accordion">Hepatitis: </button>
            </div>
            <div class="panel horario">
                <p>Los síntomas son temperatura elevada e inflamación de las amígdalas, así como un intenso enrojecimiento de las mucosas e inflamación de los ganglios linfáticos situados debajo de la mandíbula. Este cuadro evoluciona con rapidez a vómitos y/o diarreas. El hígado aparece agrandado y doloroso a la palpitación.</p>
            </div>
        </div>
        <div>
            <div class="accordion-container">
                <button class="accordion">Leptopirosis: </button>
            </div>
            <div class="panel horario">
                <p>Es una enfermedad bacteriana de los perros que puede contagiarse a las personas. Es muy normal que deje secuelas en el riñón pues la diseminación de la enfermedad es a través de la orina. Es una enfermedad bacteriana. El modo de contagio habitual consiste en la contaminación del agua estancada por la orina de un animal infectado y el posterior contacto de ese agua con una herida en la piel. Las ratas son un importante reservorio para el contagio.

                    Parainfluenza. Es una enfermedad respiratoria muy contagiosa, muchas veces confundida con la tos perruna. Los factores que podrían exacerbar el potencial para contraer esta enfermedad son una alta humedad, las corrientes de aire y las condiciones ambientales.</p>
            </div>
        </div>
        <div>
            <div class="accordion-container">
                <button class="accordion">Adenovirus: </button>
            </div>
            <div class="panel horario">
                <p>Con este término se designan dos enfermedades infecciosas: la hepatitis vírica y la laringotraqueitis vírica. La primera afecta al hígado y la segunda a las principales vías respiratorias.</p>
            </div>
        </div>
        <div>
            <div class="accordion-container">
                <button class="accordion">Leishmaniosis: </button>
            </div>
            <div class="panel horario">
                <p>Es una enfermedad parasitaria grave, causado por un parásito denominado leishmania, es incluso mortal. Suele empezar a cursar con pérdida de pelo alrededor de los ojos, orejas y nariz. Según va avanzando la enfermedad, el perro pierde peso aunque no pierde apetito. Son habituales heridas en la piel, especialmente en la cabeza y en las patas, en las áreas donde el perro está en contacto con el suelo al tumbarse o al sentarse. Cuando este cuadro se vuelve crónico, este se complica observándose en muchos casos síntomas relacionados con insuficiencia renal. La enfermedad se trasmite a través de la picadura de un mosquito, llamado flebotomo. La temporada de peligro comienza con el calor, normalmente en mayo y finaliza en octubre.</p>
            </div>
        </div>
        <div>
            <div class="accordion-container">
                <button class="accordion">Bordetella bronchiseptica: </button>
            </div>
            <div class="panel horario">
                <p>Comúnmente llamada tos de las perreras, es una enfermedad que afecta a las vías respiratorias altas. Tiene alta morbilidad y se caracteriza por tos, anorexia, depresión y puede avanzar a la traqueobronquitis, neumonía y aún muerte en casos severos.</p>
            </div>
        </div>
        <div>
            <div class="accordion-container">
                <button class="accordion">Rabia: </button>
            </div>
            <div class="panel horario">
                <p>Es una zoonosis que puede transmitirse al hombre por mordedura de perros y gatos infectados.

                    La rabia en los gatos se puede contagiar de varias maneras:
                        
                    Por rasguños de gatos infectados: como el virus se aloja en la saliva y los gatos tienden a limpiarse lamiéndose las patas, el agente infeccioso se podría alojar en las garras por un tiempo breve y podría ser conducido por un arañazo.
                    A través de las peleas donde se vehicula la rabia.
                    Mediante la ingestión de animales infectados ( ratas, murciélagos, etc.)</p>
            </div>
    </div>
    <footer>
        <div class="footer_padre">
            <div class="footer">
                <p>veterinariapena@gmail.com</p>
                <div class="footer-img zoomable">
                    <img src="../static/assets/correo.jpeg" alt="">
                </div>
            </div>
            <div class="footer">
                <p>683 854 685</p>
                <div class="footer-img zoomable">
                    <img src="../static/assets/logo-telefono.png" alt="">
                </div>
            </div>
            <div class="footer">
                <a class="zoomable" href="./politica_privacidad.ejs">Política de privacidad</a>
            </div>
            <div class="footer">
                <p>Síguenos en:</p>
                    <div class="footer-img zoomable">
                        <img src="../static/assets/facebook.webp" alt="Facebook">
                    </div>
                    <div class="footer-img zoomable">
                        <img src="../static/assets/twitter.jpeg" alt="Twitter">
                    </div>
                    <div class="footer-img zoomable">
                        <img src="../static/assets/logo-insta.webp" alt="Instagram">
                    </div>
            </div>
            <div class="footer">
                <a class="zoomable" href="./contacto.ejs">Contactanos</a>
            </div>
        </div>
    </footer>
</body>
</html>
